{% extends 'base.html' %}
{% block content %}
<main>
    <section class="edu-section" id="education">
        <div class="container">
            <h1><span>Education</span></h1>
            <p class="section-kicker">My academic background and learning experiences.</p>
            

            <div class="edu-grid">
                {% for education in education_list %}
                    <article class="edu-card">
                        {% if education.thumbnail %}
                            <img 
                                src="{{ education.thumbnail }}"
                                alt="{{ education.institution }}"
                                class="edu-image"
                            >
                        {% endif %}

                        <div class="edu-overlay"></div>

                        <div class="edu-content">
                            <div class="edu-category">
                                <p>
                                    {{ education.get_category_display }}
                                </p>
                            </div>

                            <div class="edu-detail">
                                <h3> <span>{{ education.institution }}</span></h3>

                                <p class="edu-year">
                                
                                    {{ education.started_at|date:"Y" }} - 
                                    {% if education.is_ongoing %}
                                        Present
                                    {% else %}
                                        {{ education.ended_at|date:"Y" }}
                                    {% endif %}
                                
                                </p>

                                <p class="edu-desc">
                                    {{ education.description }}
                                </p>
                            </div>
                        </div>
                    </article>
                {% empty %}
                    <p class="empty-state">
                        No education added.
                    </p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}