{% extends "base.html" %}

{% block meta %}
    <title>
        {% if project %}
            Edit Project
        {% else %}
            Add Project
        {% endif %}
        - {{ name }}
    </title>
{% endblock meta %}

{% block content %}
    <main>
        <section class="experience-section">
            <div class="container">

                {% if project %}
                    <h1>Edit Project</h1>
                {% else %}
                    <h1>Add New Project</h1>
                {% endif %}

                <form method="post"
                      action="
                        {% if project %}
                            {% url 'main:update_project' project.id %}
                        {% else %}
                            {% url 'main:create_project' %}
                        {% endif %}"
                      class="project-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% if experience %}
                        <button type="submit" class="button"> Update Experience </button>
                    {% else %}
                        <button type="submit" class="button"> Tambah Experience </button>
                    {% endif %}
                    
                    <a href="{% url 'main:show_projects' %}" class="button button-secondary">Batal</a>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}