<form method="post" action="{{ star_url }}" class="star-form">
    {% csrf_token %}
    <button type="submit"
            class="button button-star
                {% if user in item.starred_by.all %}
                    is-starred
                {% endif %}"
            title="{% if item.starred_by.all %} Dibintangi oleh {{ item.starred_by.all|join:', ' }}{% else %}Jadilah yang pertama memberi star{% endif %}">
        <span aria-hidden="true">★</span>
        {% if user in item.starred_by.all %}
            Unstar
        {% else %}
            Star
        {% endif %}
        <span class="star-count">{{ item.starred_by.count }}</span>
    </button>
</form>